.big-title{
    display: flex;
    background-color: rgb(255, 122, 122);
    color: black;
    height: 10rem;
    font-size: 2rem;
    justify-content: center;
    margin: 0 auto;
    text-shadow: 1px 1px 1px rgb(153, 153, 153);
}
.login-drop{
    display: flex;
    margin: 0 auto;
    padding-top: 8rem;
    position:sticky;
}

.skating{
    display: flex;
    height: 110vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    object-fit:cover;
}

.content{
    position: absolute;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}


.video{
    height: 100vh;
    width: 100%;
}

.little-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin: 1rem;
    background-color: rgb(255, 255, 255);
}

.home-btn{
    font-size: 2rem;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    display: flex;
    margin: 0 auto;
    top: 0;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    color: white;
    z-index: 1; /* Set the z-index to make sure the header stays on top of other elements */
}

.activities-btn{
    font-size: 2rem;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);;
}

.routines-btn{
    font-size: 2rem;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);;
}

.profile-btn{
    font-size: 2rem;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);;
}

.login-btn{
    font-size: 2rem;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);;
}



.nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    font-weight: normal;
    background-color: whitesmoke;
    margin-top: 0rem;
    height:3rem;
    padding: .5rem;
    margin: 0 auto;
}

.nav-list li {
    display: flex;
}


a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.login-form{
    display: flex;
    position: sticky;

}

footer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    height: 18vh;
    background-color: black;
    color: white;
    margin-top: 123.2%;
    position: relative;
}