
body, hmtl {
    margin: 0;
    border: none;
}

.video{
    display: flex;
    height: 110vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    object-fit:cover;
    position: fixed;
}

.login-page{
    display: flex;
    align-items: center;
    height: 100vh;
}

.login-title{
    display: flex;
    color: white;
}

.login-form{
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 50vw;
    align-items: center;
    background-color: black;
    margin: 0 auto;
    flex-direction: column;
}

.login-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    margin: 0 auto;
}

.username{
    display: flex;
    color: black
}

.password{
    display: flex;
    color:black;
}

.home-div{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    position: fixed;
    padding: 3rem 8rem;
}

.homediv-title{
display: flex;
color: rgb(255, 255, 255);
font-size: 8vw;
margin: 0;
font-family: monospace;
text-shadow: 3px 3px 3px 3px black;
}



.homediv-slogan{
    display: flex;
    color: white;
    font-family: monospace;
    font-size: 1.5vw;
}

.homediv-login{
    display: flex;
    color: white;
    font-family: monospace;
    font-weight: bolder;
    font-size: 1.5vw;
    background-color: rgb(0, 0, 0);
    height: 5%;
    width: 13%;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    text-decoration: none;
    margin-top: 1rem;
}

.whole-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    list-style: none;
    width: 100vw;
    height: 3rem;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    position: fixed;
}


a {
    text-decoration: none;
    color: black;
  }

.home-btn{
    display: flex;
    height: inherit;
    width: 200%;
    margin-left: 30%; 
    font-weight: bolder;
    color: white;
    font-size: 230%;
    font-family: monospace;
}

.nav-right{
    display: flex;
    margin-left: 50%;
    font-size: 140%;
    font-family: monospace;
    font-weight: bold;
}

.routines-btn{
    display: flex;
    margin-left: 15%;
    color: white;
}

.profile-btn{
    display: flex;
    color: white;
}
.login-btn{
    display: flex;
    margin-left: 15%;
    color: white;
}

.about-btn{
    display: flex;
    margin-left: 15%;
    color: white;
}


.activities-btn{
    display: flex;
    color: white;
    margin-left: 15%;
}

.create-activity-link{
    display: flex;
    align-items: flex-end;
    font-size: larger;
    font-weight: bolder;
    color: green;
    background-color: aqua;
    padding-top: 4rem;
}

.skate{
    display: flex;
    height: 150vh;
    width: 150vw;
    object-fit: cover;
}

.hoops{
    display: flex;
    height: 130vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.activity-form{
    display: flex;
    z-index: 1;
    height: 33vh;
    width: 33vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0 auto;
    margin-top: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.827), 1px 6px 6px rgba(0,0,0,0.23);
}
.activity-title{
   display: flex;
   margin: 0 auto;
   margin-top: 2rem;
   position: absolute;
   color: white;
   top: 30%;
   left: 50%;
   font-family: monospace;
   font-size: 200%;
   transform: translate(-50%,-50%);
}

.activity-label{
    display: flex;
    width: 30vw;
    font-size: 1.2rem;
    align-items: left;
    font-family: monospace;
    justify-content: left;
    font-family: monospace;
    margin: .5rem;
}

.forminput{
    display: flex;
    width: 30vw;
    height:3vh;
    margin-bottom: 2rem;
    font-family: monospace;
}

.formbutton{
    display: flex;
    color: white;
    background-color: rgb(210, 0, 0);
    width: 20vw;
    justify-content: center;
    align-items: center;
    height: 4vh;
}
/* Large screens */
nav.nav-right {
    display: flex;
  }
  
  nav.nav-right a {
    display: inline-block;
  }
  

  
